@import 'tailwindcss' source('../');

@font-face {
  font-family: Pokemon;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/poke.ttf');
}

@theme inline {
  --color-green-toggle: oklch(56.853% 0.1187 154.977);
  --color-maroon-800: oklch(25.281% 0.06323 3.482);
  --color-maroon-500: oklch(35.187% 0.10434 6.519);
  --color-maroon-700: oklch(29.52% 0.08424 4.839);
  --font-poke: 'Pokemon';
  --ease-accel: cubic-bezier(0.33, 0, 1, 1);
  --gradient-poke-btn: linear-gradient(
    145deg,
    var(--color-maroon-500),
    var(--color-maroon-700)
  );
  --gradient-poll: linear-gradient(
    to top,
    var(--fill-color, blue),
    var(--fill-color, blue) var(--fill-percentage, 0%),
    transparent var(--fill-percentage, 0%),
    transparent
  );
  --shadow-poke-btn: 0 5px 15px rgba(0, 0, 0, 0.2);
  --shadow-poke-btn-depress: 0 3px 10px rgba(0, 0, 0, 0.2);
  --shadow-poke-btn-elevate: 0 8px 20px rgba(0, 0, 0, 0.3);
}
@utility render-pixelated {
  image-rendering: pixelated;
}
